.DS_Store
config/tmux/plugins
lazygit/.config/lazygit/state.yml
tmux/.config/tmux/plugins
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/plugins
zsh/.config/zsh/.zsh_sessions
Brewfile.lock.json
