<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>A7BEF795-55E2-4D0A-BFCB-4F16D4D6DAA5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mercado libre</string>
			<key>text</key>
			<string>Mercado libre</string>
			<key>url</key>
			<string>https://listado.mercadolibre.com.mx/{quey}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
