<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>EF888741-B009-40B1-B5BB-6326D722FA7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD58018C-DC39-4396-A00F-A04372220916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Create PR</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>create a PR</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF888741-B009-40B1-B5BB-6326D722FA7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>&lt;!-- PR title format: `&lt;Feat|Bug|Test|Doc|Chore|Junk&gt; - &lt;tracker-number&gt; - &lt;Short description&gt;` --&gt;
&lt;!-- Fill out this PR template to make it easier for reviewers to understand your code. Remove this comment and any unnecessary section. --&gt;

#### What does this PR do?

&lt;!-- Briefly synthesize the feature, fix, or chore. --&gt;

#### Where should the reviewer start?

&lt;!-- Point out where the reviewer should start to review the code additions or subtractions. --&gt;

#### How should this be manually tested?

&lt;!-- List the steps to reproduce, corroborate, or tests to run. Write this section clear enough so that external developers can also follow it and test the feature or fix. --&gt;

#### Any background context you want to provide?

&lt;!-- Add any information regarding the PR that the reviewers should know, if necessary. --&gt;

#### What are the relevant tickets?

&lt;!-- Link to issues, related PRs, JIRA issues, etc. --&gt;

#### Screenshots

&lt;!-- Add before and after screenshots or recording of the feature, if available. --&gt;

#### Questions

&lt;!-- List questions or concerns directed to the reviewers, if necessary. --&gt;

#### Notes about Environment Variables

&lt;!-- Mention the modifications made to the environment variables. --&gt;

#### Checklist

&lt;!-- Verify that you have done all of the following and mark them as done. --&gt;

- [ ] I added the necessary documentation, if appropriate.
- [ ] I added tests to prove that my fix is effective or my feature works.
- [ ] I reviewed existing Pull Requests before submitting mine.
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FD58018C-DC39-4396-A00F-A04372220916</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>EF888741-B009-40B1-B5BB-6326D722FA7C</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>FD58018C-DC39-4396-A00F-A04372220916</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
